nav {
    background:#2ba0db;
}



nav ul li {
    display: inline-block;
    position:relative;
}

nav ul li a {
    color:#fff;
    display: block;
}

nav ul li ul {
    display: none;
    position:absolute;

    width: 250px;
}

nav ul li ul li {
    display: block;
}

nav ul li ul li:first-child {border-top:none; }

nav ul li ul li a {
    background: #373737;
    display: block;
    padding: 10px 14px;
}

nav ul li ul li a:hover { background: #126d9b; }
